.gray {
  	height: 40px;
    width: 171px;
    margin-top: 11px;
    margin-left: 32px;
    border: 1px solid #CECCCC;
    border-radius: 5px;
    background-color: #D8D8D8;
  }
.cancel{
  height: 49px;
  margin-top: 7%;
  margin-left: 50px;
  width: 233px;
  border-radius: 5px;
  color:#fff;
  background-color: #4A4A4A;
}
.action{
  height: 49px;
  margin-top: 7%;
  margin-left: 48px;
  width: 233px;
  color:#fff;
  border-radius: 5px;
	background-color: #9B9B9B;
}
.radiodiv{
    margin-top: 5%;
    position: left !important
}
.labelhead{
  margin: 0px 0 0 48px;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
.labelheader{
  margin-top: 43px;
  padding: 0 0 0 34px;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  }
