.input-box{
  margin-left: 13%;
  height: 54px;
  width: 499px;
  border: 1px solid #CECCCC;
  border-radius: 5px;
}

.input-box-sml{
  height: 54px;
  width: 228.65px;
  border: 1px solid #CECCCC;
  border-radius: 5px;
}

.model-text-sml{
  margin-left: 15%;
  height: 30px;
  width: 460px;
  color: #4A4A4A;
  font-size: 11px;
  font-weight: 500;
  line-height: 15px;
}
label {
  margin-top: 1%;
color: #4A4A4A;
font-size: 14px;
font-weight: 500;
line-height: 22px;

}
