.login {
    width: 123%;
    height: 315px;
    margin-top: 0;
    background-color: #FFFFFF;
}
.adminbody {
    background-color: #F7F7F8;
    height: 100%;
}
.loginbox {
    width: 58%;
    height: 547px;
    background-color: #FFFFFF;
    border: 1px solid #007AFF;
    border-radius: 5px;
    position: relative;
}
.space {
    height: 68.5px;
}
.space2 {
    height: 60.5px;
}

.email {
    opacity: 0.8;
    font-size: 12px;
    line-height: 6px;
    color: #4A4A4A;
}
.signin {
    width: 92px;
    height: 41px;
    font-size: 25px;
    font-weight: 300;
    margin-left: 20px;
    margin-top: 33px;
    text-align: center;
    line-height: 41px;
    color: #667685;
}
